* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(194, 193, 189);
}

h1 {
  background-color: rgb(128, 128, 128);
  text-align: center;
  margin: auto;
  padding: 10px;
}

nav {
  background-color: #b4b4b4;
  padding: 20px;
  top: 105px;
}
nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
nav li {
  width: 30%;
  display: inline-block;
  font-size: 20px;
}

a:link {
  color: #94176f;
}

a:hover {
  color: rgb(124, 6, 6);
}

.m-div {
  margin: 25px 85px;
  padding: 30px 15px;
  background-color: rgb(153, 153, 153);
  border: solid gray 5px;
}

h2 {
  margin: 15px 15px;
}

.e-text {
  margin: 15px 85px;
  padding: 30px 15px;
  font-size: 20px;
}

.e-imgs {
  display: flex;
  justify-content: space-around;
}

img {
  width: 35%;
}

footer {
  background-color: gray;
  position: fixed;
  margin: auto;
  padding: 15px;
  bottom: 0;
  text-align: center;
  width: 100%;
}
